
<ng-container *ngIf="true">

  <div class="container">
    <div class="navbar">
      <div class="logo">
        <img src="assets/images/logo.jpg" width="125px">
      </div>
      <nav>
        <ul id="MenuItems">
          <li><a routerLink="">Trang chủ</a></li>
          <li><a routerLink="/products">Sản phẩm</a></li>
          <li><a routerLink="/about">Thông tin</a></li>
          <li><a routerLink="/contact">Liên hệ</a></li>
          <li><a routerLink="/login">Đăng nhập</a></li>
        </ul>
      </nav>
      <img routerLink="/cart" src="assets/images/cart.png"  width="25px" height="25px">
      <img src="assets/images/menu.png" class="menu-icon" onclick="menutoggle()">
    </div>
  </div>


<div class="small-container cart-page">
    <table>
        <tr>
            <th>Sản phẩm</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
        </tr>
        <tr>
            <td>
                <div class="cart-info">
                    <img src="assets/images/quat5.jpg">
                    <div>
                        <p>Quạt thông minh</p>
                        <small>Đơn giá: 5.400.000</small>
                        <br>
                        <a href="">Xóa</a>
                    </div>
                </div>
            </td>
            <td><input type="number" min="1" value="1"></td>
            <td>5.400.000</td>
        </tr>

        <tr>
            <td>
                <div class="cart-info">
                    <img src="assets/images/quat3.jpg">
                    <div>
                        <p>Quạt thông minh</p>
                        <small>Đơn giá: 4.200.000</small>
                        <br>
                        <a href="">Xóa</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1" min="1"></td>
            <td>4.200.000</td>
        </tr>

        <tr>
            <td>
                <div class="cart-info">
                    <img src="assets/images/tivi2.png">
                    <div>
                        <p>Tivi LG</p>
                        <small>Đơn giá: 3.000.000</small>
                        <br>
                        <a href="">Xóa</a>
                    </div>
                </div>
            </td>
            <td><input type="number" min="1" value="1"></td>
            <td>3.000.000</td>
        </tr>
    </table>

    <div class="total-price">
        <table>
            <tr>
                <td>Thành tiền</td>
                <td>5.400.000</td>
            </tr>
            <tr>
                <td>Thuế</td>
                <td>400.000</td>
            </tr>
            <tr>
                <td>Tổng tiền</td>
                <td>5.000.000</td>
            </tr>
        </table>
    </div>

</div>
</ng-container>


<ng-container *ngIf="false">

  <div class="container">
    <div class="navbar">
      <div class="logo">
        <img src="assets/images/logo.jpg" width="125px">
      </div>
      <nav>
        <ul id="MenuItems">
          <li><a routerLink="">Trang chủ</a></li>
          <li><a routerLink="/products">Sản phẩm</a></li>
          <li><a routerLink="/about">Thông tin</a></li>
          <li><a routerLink="/contact">Liên hệ</a></li>
          <li><a routerLink="/login">Đăng nhập</a></li>
        </ul>
      </nav>
      <img routerLink="/cart" src="assets/images/cart.png"  width="25px" height="25px">
      <img src="assets/images/menu.png" class="menu-icon" onclick="menutoggle()">
    </div>
  </div>

  <div class="container">
    <div class="card">
      <h5 class="card-title">Giỏ hàng</h5>
    </div>
    <div  class="center">
      <img src="assets/images/empty-cart.png">
      <h4>Giỏ hàng trống</h4>
      <h6>Thêm sản phẩm ngay</h6>
      <button class="btn">Mua ngay</button>
    </div>
  </div>
</ng-container>




