<head>
    <meta charset="utf-8">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Products</title>
  </head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="logo">
        <img src="assets/images/logo.jpg" width="125px">
      </div>
      <nav>
        <ul id="MenuItems">
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/products">Products</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/login">Account</a></li>
        </ul>
      </nav>
      <img routerLink="/cart" src="assets/images/cart.png"  width="25px" height="25px">
      <img src="assets/images/menu.png" class="menu-icon" onclick="menutoggle()">
    </div>
  </div>
<div class="small-container">
  
  <div class="row row-2">
    <h2>Tất cả sản phẩm</h2>
    <select style="width:200px;">
      <option>Mặc định</option>
      <option>Sắp xếp theo giá</option>
      <option>Sắp xếp theo đánh giá</option>
      <option>Sắp xếp theo giảm giá</option>
    </select>
  </div>

  <div class="row" >
    <div class="col-4" *ngFor="let product of ProductList | 
       paginate: { itemsPerPage: 8,
       currentPage: page,
       totalItems:totalLength }" >
      <img routerLink="/product-details"  [src]="product.fileName">
      <h4>{{product.productName}}</h4>
      <h6>ProductId : {{product.productId}}</h6>
      <h6>Description : {{product.description}}</h6>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>{{product.price}}</p>
    </div>

  </div>


  <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>


</div>



<!--Js for menu-->
<script>
  var MenuItems=document.getElementById("MenuItems");
  MenuItems.style.maxHeight="0px";
  function menutoggle()
  {
    if(MenuItems.style.maxHeight=="0px")
    {
      MenuItems.style.maxHeight="200px";
    }
    else
    {
      MenuItems.style.maxHeight="0px";
    }
  }
</script>
</body>
