<!--
    <div class="header"></div>
    <div class="menu">
        <ul>
            <li>Trang chủ</li>
            <li>Giới thiệu</li>
            <li>Sản phẩm</li>
            <li>Liên hệ</li>
            <li>Đăng xuất</li>
        </ul>
    </div>
    <div class="content"></div>
    <div class="footer"></div>
-->

<body>
<div class="header">
  <div class="container">
    <div class="navbar">
      <div class="logo">
       <a href="" routerLink=""><img src="assets/images/logo.jpg" width="125px"></a> 
      </div>
      <nav>
        <ul id="MenuItems">
          <li><a routerLink="">Trang chủ</a></li>
          <li><a routerLink="products">Sản phẩm</a></li>
          <li><a routerLink="about">Thông tin</a></li>
          <li><a routerLink="contact">Liên hệ</a></li>
          <li><a routerLink="user">User</a></li>
          <li><a (click)="logOut()">Đăng nhập</a></li>
        </ul>
      </nav>
      <a href="" routerLink="user"><img src="assets/images/cart.png"  width="25px" height="25px"></a>
      <div style="font-size:5;" class="badge bg-danger">5</div>
      <img src="assets/images/menu.png" class="menu-icon" onclick="menutoggle()">
    </div>
    <div class="row">
      <div class="col-2">
        <h1>Website chính thức <br> DG Store</h1>
        <p>Chuyên cung cấp các sản phẩm công nghệ<br>
         từ các thương hiệu hàng đầu thế giới
        </p>
        <a href="" class="btn">Xem thêm</a>
      </div>
      <div class="col-2">
        <img src="assets/images/bg.jpg">
      </div>
    </div>
  </div>
</div> 

<!--Feature categories-->
<div class="categories">
<div class="small-container">
  <div class="row">
    <div class="col-3">
      <img src="assets/images/tivi5.jpg" alt="">
    </div>
    <div class="col-3">
      <img src="assets/images/tulanh2.jpg" alt="">
    </div>
    <div class="col-3">
      <img src="assets/images/tulanh4.jpg" alt="">
    </div>
  </div>
</div>
</div>
<!--Feature products-->
<div class="small-container">
  <h2 class="title">Sản phẩm yêu thích</h2>
  <div class="row">
    <div class="col-4">
      <a routerLink="product-details"><img src="assets/images/quat5.jpg"></a>
      <a routerLink="product-details"><h4>Quạt thông minh</h4></a>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>5.650.000</p>
    </div>

    <div class="col-4">
      <img src="assets/images/tivi2.png">
      <h4>Tivi Sony MHP</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>5.650.000</p>
    </div>

    <div class="col-4">
      <img src="assets/images/tulanh3.png">
      <h4>Tủ lạnh ToShiBa</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>5.650.000</p>
    </div>

    <div class="col-4">
      <img src="assets/images/quat1.jpg">
      <h4>Quạt thông minh</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
      </div>
      <p>5.650.000</p>
    </div>
  </div>
  <!--Lastest Products-->
  <h2 class="title">Sản phẩm mới</h2>
  <div class="row">
    <div class="col-4">
      <img src="assets/images/tivi5.jpg">
      <h4>Tivi LG</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>5.650.000</p>
    </div>

    <div class="col-4">
      <img src="assets/images/tulanh4.jpg">
      <h4>Tủ lạnh Sharp</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>5.650.000</p>
    </div>

    <div class="col-4">
      <img src="assets/images/quat2.jpg">
      <h4>Tủ lạnh ToShiBa</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>5.650.000</p>
    </div>

    <div class="col-4">
      <img src="assets/images/tulanh3.png">
      <h4>Quạt thông minh</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
      </div>
      <p>5.650.000</p>
    </div>

    <div class="col-4">
      <img src="assets/images/quat5.jpg">
      <h4>Quạt thông minh</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>5.650.000</p>
    </div>

    <div class="col-4">
      <img src="assets/images/tivi2.png">
      <h4>Tivi JPC</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>5.650.000</p>
    </div>

    <div class="col-4">
      <img src="assets/images/tulanh3.png">
      <h4>Tủ lạnh ToShiBa</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>5.650.000</p>
    </div>

    <div class="col-4">
      <img src="assets/images/quat1.jpg">
      <h4>Quạt thông minh</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
      </div>
      <p>5.650.000</p>
    </div>
  </div>
</div>

 <!--Offer-->
 <div class="offer">
   <div class="small-container">
     <div class="row">
       <div class="col-2">
         <img width="400" height="400" src="assets/images/tivi6.jpg" class="offer-img">
       </div>
       <div class="col-2">
         <p>Sản phẩm độc quyền tại DgStrore</p>
         <h1>Tivi LG màn hình cong</h1>
         <small>
          công nghệ sản xuất tivi mới nhất hiện nay với màn hình được uốn cong theo một tiêu 
          chuẩn nhất định (hiện tại là cong theo hình tròn bán kính 4,2m).Với 
          mong muốn thế hệ màn hình mới này sẽ mang lại cho người xem cảm giác chân thật hơn và 
          hiệu ứng cũng cuốn hút hơn <br>
         </small>
         <a href="" class="btn">Mua ngay</a>
       </div>
     </div>
   </div>
 </div>
<!--testimonial-->
 <div class="testimonial">
   <div class="small-container">
     <div class="row">
       <div class="col-3">
        <i class="fa fa-quote-left"></i>
         <p>
          Phương là Phó Giám đốc Điều hành và cũng là “Nhà sáng tạo” của DG Store.
            Với mong muốn lớn lao trong việc nuôi dưỡng những ý tưởng mới & biến chúng thành hiện thực,
            Chị đã quyết định thành lập DG Store với mong muốn áp dụng những chiến lược kinh doanh mới
          Và mong muốn mang đến những sự tiện lợi trong cuộc sống của gia đình Việt
         </p>
         <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
         </div>
         <img src="assets/images/user-1.png">
         <h3>Hoàng Thị Thủy</h3>
       </div>

       <div class="col-3">
        <i class="fa fa-quote-left"></i>
         <p>
         Là người đồng sáng lập và cũng là “Nhà chiến lược” của DG Store. 
          Ông có hơn 15 năm kinh nghiệm trong lĩnh vực này và không ngừng ước mơ biến DG Store trở thành một 
          cửa hàng cung cấp những chất lượng hàng đầu. Dưới sự hướng dẫn của anh,
           DG Store đã phát triển từ một cửa hàng khởi nghiệp chỉ có 2 người thành một đại gia đình với hơn 20 người
           và không ngừng mở rộng quy mô
         </p>
         <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
         </div>
         <img src="assets/images/user-2.png">
         <h3>Nguyễn Đức Long</h3>
       </div>

       <div class="col-3">
        <i class="fa fa-quote-left"></i>
         <p>
          Hương là Giám đốc Kinh doanh của DG Store, chịu trách nhiệm tìm kiếm cơ hội và kinh doanh mới. 
          Sau khi lấy bằng MBA toàn cầu tại Đại học Hàn Quốc, chị ấy đã có thể trang bị cho mình những kiến 
          ​​thức nâng cao không chỉ liên quan đến kinh doanh mà còn cả ngôn ngữ và văn hóa Hàn Quốc. Với mong muốn 
          đưa những sản phẩm công nghệ tiếp cận gần hơn với người Việt, chị đã không ngừng tìm ra những chiến lược 
          kinh doanh mới
         </p>
         <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
         </div>
         <img src="assets/images/user-3.png">
         <h3>Hà Thị Hương</h3>
       </div>

<!--brands-->
 <div class="brands">
   <div class="small-container">
     <div class="row">
      <div class="col-5">
        <img src="assets/images/logo-godrej.png">
      </div>
       <div class="col-5">
         <img src="assets/images/logo-oppo.png">
       </div>
       <div class="col-5">
        <img src="assets/images/logo-coca-cola.png">
      </div>
      <div class="col-5">
        <img src="assets/images/logo-paypal.png">
      </div>
      <div class="col-5">
        <img src="assets/images/logo-philips.png">
      </div>
     </div>
   </div>
 </div>

     </div>
   </div>
 </div>

</body>